name: Deploy Monitoring Stack

on:
  push:
    branches:
      - main
    paths:
      - 'monitoring/**'         # Only trigger if files under monitoring/ change

jobs:
  deploy-monitoring:
    runs-on: ubuntu-latest

    env:
      GOOGLE_APPLICATION_CREDENTIALS: "${{ github.workspace }}/gcp-key.json"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Write GCP credentials
        run: echo '${{ secrets.GCP_CREDENTIALS_JSON }}' > $GOOGLE_APPLICATION_CREDENTIALS

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: turnkey-energy-457517-u4

      - name: Authenticate gcloud
        run: gcloud auth activate-service-account --key-file=$GOOGLE_APPLICATION_CREDENTIALS

      - name: Get GKE credentials
        run: gcloud container clusters get-credentials gke-dev-cluster --zone us-central1-a --project turnkey-energy-457517-u4

      - name: Add Helm repositories
        run: |
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo add grafana https://grafana.github.io/helm-charts
          helm repo update

      - name: Create monitoring namespace
        run: |
          kubectl get ns monitoring || kubectl create ns monitoring

      - name: Install Prometheus stack
        run: |
          helm upgrade --install prometheus prometheus-community/kube-prometheus-stack \
            --namespace monitoring \
            --set grafana.enabled=false \
            --wait

      - name: Install Grafana
        run: |
          helm upgrade --install grafana grafana/grafana \
            --namespace monitoring \
            --set adminPassword='admin' \
            --set service.type=LoadBalancer \
            --wait
